 <div class="inmodal">
    <div class="modal-header">   
        <i class="fa fa-laptop modal-icon"></i>
        <h4 class="modal-title">Add Note</h4>       
        <small class="font-bold"><strong >Attention</strong> : Only 200 Characters allowed.</small>
    </div>
    <div class="modal-body">
        <form method="get" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Note
                </label>                
                <div class="col-sm-8">
                    <textarea class="form-control"></textarea>
                </div>
            </div>
        </form>            
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Save changes</button>
    </div>
</div>

