<div class="row wrapper border-bottom white-bg page-heading animated fadeInRight">
    <div class="col-sm-5">
        <h2>Consultation config</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a ui-sref="patient.patients_list">Patient list</a>
            </li>
            <li>
                <a ui-sref="consultation.consultation_list({patientid:idOfpatient})">Consultation list</a>
            </li>
            <li class="active">
                <strong>FollowUp details</strong>
            </li>
        </ol>
    </div>
    
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class=" animated fadeInRightBig">
                <div class="tabs-container">
                    <tabset>
                        <tab heading="Main">
                            <form method="get" class="form-horizontal" style="margin-top:15px;">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Patient :</label>
                                    <div class="col-sm-8" style="margin-top:7px;">
                                        <strong>{{patientResolved.displayName}}</strong> - {{age}} <span ng-show="age!=unkown">Year(s) old</span>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Title </label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{followup.title}}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Type :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">FollowUp</p>
                                    </div>
                                </div>
                                <!--<div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Patient :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">Need to Get patient name ????????</p>
                                    </div>
                                </div>-->
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">entry Date :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{followup.entryDate | date : format : "LLLL"}}</p>
                                    </div>
                                </div>
                                <!--<div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Blood pressure</label>

                                    <div class="col-sm-8 text-center">
                                        <div class="m-r-md inline">
                                            <div class="well" style="background-color:rgba(245, 245, 245, 0.22);margin-bottom: 5px;padding: 10px;">
                                                <h5 class="text-center">Systolic</h5>
                                                <knob knob-data="followup.systolic" class="m-r-sm" data-fgColor="#ED5565" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="90" data-max="250" data-readOnly=true>
                                                </knob>
                                            </div>
                                        </div>
                                        <div class="m-r-md inline">
                                            <div class="well" style="background-color:rgba(245, 245, 245, 0.22);margin-bottom: 5px;padding: 10px;">
                                                <h5 class="text-center">Diastolic</h5>
                                                <knob knob-data="followup.diastolic" class="m-r-sm" data-fgColor="#59B0F7" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="60" data-max="140" data-readOnly=true>
                                                </knob>
                                            </div>
                                        </div>
                                        <div class="m-r-md inline">
                                            <div class="well" style="background-color:rgba(245, 245, 245, 0.22);margin-bottom: 5px;padding: 10px;">
                                                <h5 class="text-center">Heart Rate<small>/min</small></h5>
                                                <knob knob-data="followup.heartRate" class="m-r-sm" data-fgColor="#59B0F7" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="50" data-max="200" data-readOnly=true>
                                                </knob>
                                            </div>
                                        </div>
                                        <div class="m-r-md inline">
                                            <div class="well" style="background-color:rgba(245, 245, 245, 0.22);margin-bottom: 5px;padding: 10px;">
                                                <h5 class="text-center">Temprature<small>°</small></h5>
                                                <knob knob-data="followup.temprature" class="m-r-sm" data-fgColor="#ED5565" data- data-width="85" data-height="85" data-angleOffset=-125 data-angleArc=250 knob-options="" data-min="30" data-max="41" data-readOnly=true>
                                                </knob>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Subjective :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{followup.subjective}}</p>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Past History :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{followup.pastHistory}}</p>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Objective :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{followup.objective}} </p>
                                       <!-- <a ng-click="main.labTabActive()" id="labo"><i class="fa fa-desktop"></i> Display laboratory Data</a>-->
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Objective :</label>
                                    <div class="col-sm-8 objective-media">
                                        <div class="imgContainer" ng-repeat="i in followup.images">
                                            <div><i class="fa fa-trash fa-lg m-b-sm text-danger pointer" ng-click="deleteImage(i.id,$index)"></i> </div>
                                            <img ng-src="http://localhost:63392/images/{{i.imageName}}" onclick="window.open(this.src)" class="pointer" height="auto" width="200" />
                                        </div>
                                        <div ng-show="followup.images.length == 0" class="m-t-xs">
                                            <i class="fa fa-briefcase"></i> No Images
                                        </div>

                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Diagnoses :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{followup.diagnoses}} </p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Assessment :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{followup.assessment}} </p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Plan–intended :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{followup.plan}} </p>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Additional Information :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{followup.additionalInformation}} </p>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Financial Coverage</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{followup.financialCoverage}}  </p>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Cost</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{followup.cost}}  </p>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Paid</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{followup.paid}} </p>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Consultation</label>
                                    <div class="col-sm-6 col-sm-offset-1">
                                        <a ui-sref="consultation.view_consultation({consultationId:followup.consultationId})">View Consultation</a>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-4">
                                        <button class="btn btn-white col-sm-12" type="submit" ui-sref="consultation.edit_followup({patientid:idOfpatient,followupId:followup.id})"><i class="fa fa-edit"></i>&nbsp;Edit</button>
                                    </div>
                                </div>
                            </form>
                        </tab>
                        <!--<tab heading="Objective - Media" active="main.isActive">
                            <strong>Media</strong>
                            <p>Video</p>
                            <p>Pictures</p>
                        </tab>-->

                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
