<style>
      .static {
         white-space: pre-line;
    }
</style>

<div class="row wrapper border-bottom white-bg page-heading animated fadeInRight">
    <div class="col-sm-5">
        <h2>Consultation config</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a ui-sref="patient.patients_list">Patient list</a>
            </li>
            <li>
                <a ui-sref="consultation.consultation_list({patientid:idOfpatient})">Consultation list</a>
            </li>
            <li class="active">
                <strong>Consultation details</strong>
            </li>
        </ol>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="animated fadeInRightBig">

                <div class="row m-b-md">
                    <div class="col-lg-4">
                        <div class="widget style1 navy-bg">
                            <div class="row vertical-align">
                                <div class="col-xs-2">
                                    <i class="fa fa-user fa-3x"></i>
                                </div>
                                <div class="col-xs-9 text-left" style="margin-top: 10px;">
                                    <strong>{{patientResolved.displayName}}</strong> - {{age}} <span ng-show="age!=unkown">Year(s) old</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget style1 " ng-class="{'yellow-bg':patientHistory.allergies,'navy-bg':!patientHistory.allergies}">
                            <div class="row vertical-align">
                                <div class="col-xs-2">
                                    <i class="fa  fa-3x" ng-class="{'fa-exclamation-circle':patientHistory.allergies,'fa-check-circle':!patientHistory.allergies}"></i>
                                </div>
                                <div class="col-xs-9 text-left" style="margin-top: 10px;">
                                    <!--<strong class="ca">Allergies</strong>-->  {{patientHistory.allergies}} <span ng-show="!patientHistory.allergies">No Allergies</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>


                <div class="tabs-container">
                    <form method="get" class="form-horizontal" style="margin-top:15px;">

                        <tabset>
                            <tab heading="History">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Condition </label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{consultation.condition}}</p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Type :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">New Condition</p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">entry Date :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{consultation.entryDate | date : format : "LLLL"}}</p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Chief Complaint:</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{consultation.chiefComplaint }}</p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Present History:</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{consultation.presentHistory }}</p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Past Medical History:</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{patientHistory.pastMedicalHistory }}</p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Surgical History:</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{patientHistory.surgicalHistory }}</p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Past Medications:</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{patientHistory.pastMedication }}</p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Present Medications:</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{patientHistory.presentMedication }}</p>
                                    </div>
                                </div>

                            </tab>
                            <tab heading="P.E / D.D" active="tabDiagnosis">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Physical exam :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{consultation.physicalExam}}</p>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="Investigation" active="tabInvestigation">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Differential Diagnosis :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{consultation.differentialDiagnosis}}</p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Lab :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{consultation.lab}}</p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Radiology :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{consultation.radiology}}</p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Consultations :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{consultation.consultations}}</p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Diagnosis :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{consultation.diagnosis}}</p>
                                    </div>
                                </div>

                            </tab>

                            <tab heading="Treatment" active="tabTreatment">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Medication :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{consultation.medication}}</p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Surgeries :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{consultation.surgery}}</p>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Other :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{consultation.other}}</p>
                                    </div>
                                </div>

                            </tab>

                            <tab heading="Note" active="tabNote">
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Note :</label>
                                    <div class="col-sm-8">
                                        <p class="form-control-static static">{{consultation.additionalInformation}}</p>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="Images">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Images :</label>
                                    <div class="col-sm-8 objective-media">
                                        <div class="imgContainer" ng-repeat="i in consultation.images">
                                            <div><i class="fa fa-trash fa-lg m-b-sm text-danger pointer" ng-click="deleteImage(i.id,$index)"></i> </div>
                                            <img ng-src="{{appSettings.serverPath}}/images/{{i.imageName}}" onclick="window.open(this.src)" class="pointer" height="auto" width="200" />
                                        </div>
                                        <div ng-show="consultation.images.length == 0" class="m-t-xs">
                                            <i class="fa fa-briefcase"></i> No Images
                                        </div>
                                    </div>
                                </div>
                            </tab>

                            <tab heading="Related Vists">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Follow Up</label>
                                    <div class="col-sm-6 col-sm-offset-1">
                                        <div class="list-group">
                                            <a class="list-group-item active">Consultation : {{consultation.title}}</a>
                                            <a class="list-group-item" ng-repeat="followup in consultation.followUps" ng-show="followup.isDeleted==false" ui-sref="consultation.view_followup({patientid:idOfpatient,followupId:followup.id})">
                                                <span>{{followup.title}}</span>
                                                <span class="badge pull-right">{{followup.entryDate | date: format:"LLLL"}}</span>
                                            </a>
                                        </div>

                                        <div class="btn-group">
                                            <button type="button" class="btn btn-warning" ui-sref="consultation.new_consultation({patientid:idOfpatient})"><i class="fa fa-plus"></i>&nbsp;New Condition</button>
                                            <button type="button" class="btn btn-white" ui-sref="consultation.edit_consultation({patientid:idOfpatient,consultationId:consultation.id})"><i class="fa fa-edit"></i>&nbsp;Edit consultation</button>
                                            <button type="button" class="btn btn-primary" ui-sref="consultation.new_followup({patientid:idOfpatient,consultationId:consultation.id})"><i class="fa fa-plus"></i>&nbsp;New Followup</button>
                                        </div>
                                        <!--<button class="btn btn-primary" ui-sref="consultation.new_followup({patientid:idOfpatient,consultationId:consultation.id})">Create new followup</button>-->
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
