<div class="row wrapper border-bottom white-bg page-heading animated fadeInRight">
    <div class="col-sm-4">
        <h2>patient profile</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a ui-sref="patient.patients_list">Patient list</a>
            </li>
            <li class="active">
                <strong>Patient profile</strong>
            </li>
        </ol>
    </div>
    <!--     <div class="col-sm-8">
            <div class="title-action">
                <a href="" class="btn btn-primary">This is action area</a>
            </div>
        </div> -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class=" animated fadeInRightBig">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="contact-box center-version">
                            <a style="cursor:auto;">
                                <img alt="image" class="img-circle" src="img/a2.jpg">
                                <h3 class="m-b-xs" style="text-transform: capitalize;"><strong>{{patientdetails.firstName +" - "+patientdetails.lastName }}</strong></h3>
                                <div class="font-bold">{{patientdetails.occupation || ""}}</div>
                                <div class="m-t-md ">
                                    <h5 class="text-success"><i class="fa fa-info-circle"></i> &nbsp;Basic Information</h5>
                                    <table class="table profile-table">
                                        <tbody>
                                        <tr >
                                            <td>Mid. Name</td>
                                            <td>{{patientdetails.middelName}}</td>
                                        </tr>
                                            <tr ng-show="patientdetails.referrer">
                                                <td>Referrer</td>
                                                <td>{{patientdetails.referrer}}</td>
                                            </tr>
                                            <tr ng-show="patientdetails.martialStatus">
                                                <td>MartialStatus</td>
                                                <td>{{patientdetails.martialStatus}}</td>
                                            </tr>
                                            <tr>
                                                <td>Entry date</td>
                                                <td>{{patientdetails.entryDate | date:'yyyy-MM-dd'}}</td>
                                            </tr>
                                        <tr>
                                            <td>Birthday</td>
                                            <td>{{patientdetails.birthday | date:'yyyy-MM-dd'}}</td>
                                        </tr>
                                        <tr>
                                            <td>Gender</td>
                                            <td>{{patientdetails.gender}}</td>
                                        </tr>
                                        <tr ng-show="patientdetails.bloodType">
                                            <td>Blood</td>
                                            <td>{{patientdetails.bloodType}}</td>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <td>{{patientdetails.city}}/ {{patientdetails.street}}</td>
                                        </tr>
                                            <tr ng-show="patientdetails.InsuranceCompany">
                                                <td>Insurance C.</td>
                                                <td>{{patientdetails.InsuranceCompany}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <h5 class="m-t-md text-success"><i class="fa fa-phone-square"></i> &nbsp;Contact Information</h5>
                                    <table class="table profile-table">
                                        <tbody>
                                            <tr>
                                                <td><i class="fa fa-mobile fa-lg"></i>&nbsp;&nbsp;{{patientdetails.mobile}}</td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-phone "></i>&nbsp;&nbsp;{{patientdetails.phone}}</td>
                                            </tr>
                                            <tr >
                                                <td class="parent-warp"><i class="fa fa-envelope"></i>&nbsp;&nbsp;<div class="child-warp">{{patientdetails.email}}</div> </td>
                                            </tr>
                                            <tr>
                                                <td><i class="fa fa-comments"></i>&nbsp;&nbsp;{{patientdetails.additionalInformation}} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <h5 class="m-t-md text-success"><i class="fa fa-phone-square"></i> &nbsp;Medical History</h5>
                                    <table class="table profile-table" style="max-width: 80%!important;">
                                        <tbody>
                                            <tr>
                                                <td>Allergies</td>
                                                <td class="multi_lines">{{patientdetails.medicalStatus.allergies}}</td>
                                            </tr>
                                            <tr>
                                                <td>Past Medical</td>
                                                <td class="multi_lines">{{patientdetails.medicalStatus.pastMedicalHistory}}</td>
                                            </tr>
                                            <tr>
                                                <td>Surgical </td>
                                                <td class="multi_lines">{{patientdetails.medicalStatus.surgicalHistory}}</td>
                                            </tr>
                                            <tr>
                                                <td>Past Med.</td>
                                                <td class="multi_lines">{{patientdetails.medicalStatus.pastMedication}}</td>
                                            </tr>
                                            <tr>
                                                <td>Present Med.</td>
                                                <td class="multi_lines">{{patientdetails.medicalStatus.presentMedication}}</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </a>
                            <div class="contact-box-footer">
                                <div class="m-t-xs btn-group">
                                    <a class="btn btn-xs btn-white" ui-sref="patient.edit_patient({patientid: patientdetails.id})" ><i class="fa fa-edit"></i> Edit </a>
                                    <a class="btn btn-xs btn-white"><i class="fa fa-calendar-o"></i> Assign date</a>
                                    <a class="btn btn-xs btn-white" ng-click="openModal()"><i class="fa fa-trash"></i> Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content" id="ibox-content">
                                <div class="text-center float-e-margins p-md">
                                    <a href="#" class="btn btn-xs btn-primary" id="lightVersion">Light version</a>
                                    <a href="#" class="btn btn-xs btn-primary" id="darkVersion">Dark version</a>
                                    <a href="#" class="btn btn-xs btn-primary" id="leftVersion">Left version</a>
                                </div>
                                <div id="vertical-timeline" class="vertical-container dark-timeline center-orientation">

                                    <div ng-repeat="consultation in consultations" class="tmline">
                                        <div class="vertical-timeline-block">
                                            <div class="vertical-timeline-icon navy-bg" tooltip="Condition">
                                                <i class="fa fa-briefcase"></i>
                                            </div>

                                            <div class="vertical-timeline-content">
                                                <h2 class="text-capitalize">{{consultation.condition}}</h2>
                                                <p tooltip="Chief Complaint" >
                                                    {{consultation.chiefComplaint}}
                                                </p>
                                                <p tooltip="Differential Diagnosis">
                                                     {{consultation.differentialDiagnosis}}
                                                </p>
                                                <p tooltip="Diagnosis">
                                                     {{consultation.diagnosis}}
                                                </p>
                                                <div  ui-sref="consultation.view_consultation({consultationId:consultation.id})" class="btn btn-sm btn-primary"> More info</div>
                                                <span class="vertical-date">
                                                    {{consultation.entryDate | timeAgo}} <br />
                                                    <small>{{consultation.entryDate | date : 'MMM d, y h:mm a'}}</small>
                                                </span>
                                            </div>
                                        </div>


                                        <div class="vertical-timeline-block" ng-repeat="followup in consultation.followUps">
                                            <div class="vertical-timeline-icon yellow-bg" tooltip="FollowUp">
                                                <i class="fa fa-files-o"></i>
                                            </div>

                                            <div class="vertical-timeline-content">
                                                <h2 class="text-capitalize">{{consultation.condition}}</h2>
                                                <p tooltip="Subjective">
                                                     {{consultation.subjective}}
                                                </p>
                                                <p tooltip="Medication">
                                                     {{consultation.medication}}
                                                </p>
                                                <div ui-sref="consultation.view_followup({patientid:patientdetails.id,followupId:followup.id})"  class="btn btn-sm btn-primary"> More info</div>
                                                <span class="vertical-date">
                                                    {{followup.entryDate | timeAgo}} <br />
                                                    <small>{{followup.entryDate | date : 'MMM d, y h:mm a'}}</small>
                                                </span>
                                            </div>
                                        </div>


                                    </div>
                                    

                                    <!--<div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon blue-bg">
                                            <i class="fa fa-file-text"></i>
                                        </div>

                                        <div class="vertical-timeline-content">
                                            <h2>Send documents to Mike</h2>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                            <a href="#" class="btn btn-sm btn-success"> Download document </a>
                                            <span class="vertical-date">
                                                Today <br />
                                                <small>Dec 24</small>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon lazur-bg">
                                            <i class="fa fa-coffee"></i>
                                        </div>

                                        <div class="vertical-timeline-content">
                                            <h2>Coffee Break</h2>
                                            <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
                                            <a href="#" class="btn btn-sm btn-info">Read more</a>
                                            <span class="vertical-date"> Yesterday <br /><small>Dec 23</small></span>
                                        </div>
                                    </div>

                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon yellow-bg">
                                            <i class="fa fa-phone"></i>
                                        </div>

                                        <div class="vertical-timeline-content">
                                            <h2>Phone with Jeronimo</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                                            <span class="vertical-date">Yesterday <br /><small>Dec 23</small></span>
                                        </div>
                                    </div>

                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon lazur-bg">
                                            <i class="fa fa-user-md"></i>
                                        </div>

                                        <div class="vertical-timeline-content">
                                            <h2>Go to the doctor dr Smith</h2>
                                            <p>Find some issue and go to doctor. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
                                            <span class="vertical-date">Yesterday <br /><small>Dec 23</small></span>
                                        </div>
                                    </div>

                                    <div class="vertical-timeline-block">
                                        <div class="vertical-timeline-icon navy-bg">
                                            <i class="fa fa-comments"></i>
                                        </div>

                                        <div class="vertical-timeline-content">
                                            <h2>Chat with Monica and Sandra</h2>
                                            <p>Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
                                            <span class="vertical-date">Yesterday <br /><small>Dec 23</small></span>
                                        </div>
                                    </div>-->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Local script for demo purpose only
    $(document).ready(function () {
        $('#lightVersion').click(function (event) {
            event.preventDefault()
            $('#ibox-content').removeClass('ibox-content');
            $('#vertical-timeline').removeClass('dark-timeline');
            $('#vertical-timeline').addClass('light-timeline');
        });
        $('#darkVersion').click(function (event) {
            event.preventDefault()
            $('#ibox-content').addClass('ibox-content');
            $('#vertical-timeline').removeClass('light-timeline');
            $('#vertical-timeline').addClass('dark-timeline');
        });
        $('#leftVersion').click(function (event) {
            event.preventDefault()
            $('#vertical-timeline').toggleClass('center-orientation');
        });
    });
</script>
<script type="text/ng-template" id="deletePatient.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirmation!</h3>
    </div>
    <div class="modal-body">
        <div>Are you sure to delete this patient ?</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="yes()">Yes</button>
        <button class="btn btn-warning" type="button" ng-click="no()">No</button>
    </div>
</script>