<div class="row wrapper border-bottom white-bg page-heading animated fadeInRight">
    <div class="col-sm-4">
        <h2>Edit clinic</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a ui-sref="features.clinic_list">Purchased clinic accounts</a>
            </li>
            <li class="active">
                <strong>Edit clinic</strong>
            </li>
        </ol>
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class=" text-center animated fadeInRightBig">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Clinic file
                            <small> Fields with (*) are required .</small>
                        </h5>
                        <!-- <div ibox-tools></div> -->
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <form method="get" class="form-horizontal">
                            <div class="form-group"><label class="col-sm-2 control-label">Clinic name <small>*</small></label>

                                <div class="col-sm-8"><input type="text" class="form-control" placeholder=""></div>

                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Assistant</label>
                                <div class="col-sm-8 text-left" >
                                    <select multiple chosen class="chosen-select" style="width:350px;" tabindex="4" placeholder="Choose Assistant(s)">                
                                        <option value="1">Samah</option>
                                        <option value="2">Rida</option>
                                        <option value="3">Hasan</option>
                                        <option value="3">Ali</option>                              
                                    </select>
                                    <a class="m-l-xs"><i class="fa fa-plus"></i> New assistant</a>
                                </div>

                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Phone </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" data-mask="(999) 999-9999" placeholder="" ng-model='dataInput6' placeholder="(999) 999-9999">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Alternative Phone</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" data-mask="(999) 999-9999" placeholder="" ng-model="dataInput6" placeholder="(999) 999-9999">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Country</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control"  placeholder="" ng-model="dataInput6" placeholder="Country">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">City</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control"  placeholder="" ng-model="dataInput6" placeholder="City">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Street</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control"  placeholder="" ng-model="dataInput6" placeholder="City">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Type</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static static">Basic</p>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Price</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static static">200$</p>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Purchased date</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static static">22-01-2015</p>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">Expiry date</label>
                                <div class="col-sm-8">
                                    <p class="form-control-static static">22-01-2016</p>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                            <label class="col-sm-2 control-label">Package</label>
                                <div class="col-sm-8">
                                <ul style="list-style:none;">
                                    <li class="static">Basic clinic(Hamra)   </li>
                                    <li class="static">Basic Assistant(Samah)</li>
                                    <li class="static">Exta Assistant(Rida)  </li>
                                    <li class="static">Exta Assistant(Hasan) </li>
                                </ul>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="submit">Cancel</button>
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
